.yalo-menu-user {
  display: flex;
  align-items: center;
  margin: 0 15px 10px 0;
}

.yalo-menu-user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
  border: 1px solid #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yalo-menu-user-name {
  vertical-align: middle;
}
